/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
 font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page__padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 80rem;
}


/*=============== HEADER & NAV ===============*/
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.692),#000000),url(img/background.webp);
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__toggle, 
.nav__close {
  color: #f4f4f4;
}

.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: #76BA99;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

}

.nav__list li a {
  color: #f4f4f4;
  font-weight: 400;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  transition: .3s;
  text-transform: uppercase;
}

.nav__list li a:hover {
  color: #FFD24C;
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: .9rem;
  right: 1.25rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

.text-box{
  width: 80%;
  color: #f4f4f4;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  text-align: center;
}

.text-box{
  width: 70%;
  color: #f4f4f4;
  text-align: center;
}

.text-box h1{
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1.2;
  color: #f79410;
}

.text-box p{
  width: 60%;
  align-self: center;
  font-size: 1rem;
  color: #f4f4f4;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #f79410;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  background: #f79410;
  cursor: pointer;
}

.hero-btn:hover{
  border: 1px solid #ffD24C;
  background: transparent;
  transition: 1s;
}


/*--======HEADER RESPONSIVE=====--*/
@media screen and (max-width: 767px) {
  .page__padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 80rem;
  }

  .nav {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
  }

  .nav__menu {
    position: fixed;
    background: #f79410;
    z-index: 1;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 5rem 2rem 5rem;
    transition: .3s;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
  }
  
  .nav__list li a {
    text-transform: uppercase;
    color: #f4f4f4;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.5px;
  }

  .nav__list li a:hover {
    color: #f4f4f4;
  }

  .text-box {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
  }

  .text-box h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  .text-box p {
    font-size: 1rem;
    width: 80%;

  }

  .header{
    min-height: 50vh;
    width: 100%;
  }
   
 
}


@media screen and (min-width: 768px) {
  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }

  .nav__link {
    text-transform: uppercase;
    font-size: 1rem;
  }

  .nav__btns {
    margin-left: auto;
  }


}

/* For large devices */
@media screen and (min-width: 1024px) {
  .scrollup {
    right: 3rem;
  }
}

/* show menu */
.show-menu {
  right: 0
}


/*=========Brand==========*/
.brand {
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.brand h2{
  font-size: 3rem;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0px;
  text-align: center;
}

.line div{
  margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3){
  height: 3px;
  width: 100px;
  background: #f79410;
  border-radius: 5px;
}

.line{
  display: flex;
  align-items: center;
  justify-content: center;
}

.line div:nth-child(2){
  width: 5px;
  height: 5px;
  background: #f79410;
  border-radius: 50%;
}

.brand-wrapper{
  display: grid;
  align-items: center;
  column-gap: 2rem;
  justify-content: space-between;
  justify-items: center;
  margin-top: 5rem;
  grid-template-columns: repeat(3,1fr);
}
.brand-img{
  width: 150px;
  object-fit: contain;
}

.brand-img:hover{
  margin-right: 2rem;
}

@media screen and (max-width: 767px){
  .brand {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .brand h2 {
    font-size: 2rem;
  }
  
  .brand-wrapper{
    grid-template-columns: repeat(2,1fr);
    margin-top: 3rem;
  }
  .brand-img{
    width: 100px;
  }
}

/*==========FEATURED==========*/
.featured {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.featured h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0px;
  text-align: center;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(1, 4fr);
  row-gap: 32px;
  margin-top: 5rem;
}

.item{
  border: 1px solid #ff9100;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.item-img{
  align-self: center;
  position: relative;
  overflow: hidden;
}
.item-img img{
  width: 20rem;
  margin: 1rem auto;
}

.item-img:hover{
  transform: translate(-1.5rem, -1.5rem) rotate(-15deg);
}
.item-detail{
  padding: 1rem;
  text-align: center;
}
.item-name{
  font-weight: 500;
  font-size: 1.5rem;
  color: #000000;
  display: block;
}

.item-detail p {
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
}

.item-price p {
  color: #f79410;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
.item_detail-text {
  font-weight: 300;
  font-size: 1rem;
  opacity: 0.5;
  line-height: 1.5;
  margin-top: 1rem;
}
.buy-btn{
  margin: 16px 0;
  border: 1px solid #f79410;
  border-radius: 4px;
  background-color: #f79410;
  font-family: inherit;
  padding: 10px 28px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.buy-btn:hover{
  background-color: transparent;
  border: 1px solid #ffD24C;
  color: #000000;
}

.buy-btn a {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
}

@media screen and (min-width: 678px){
  .item-list{
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
  }
}

@media screen and (min-width: 768px){
  .item-list{
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 576px){
  .featured {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .item{
      grid-template-columns: 100%;
  }

  .featured h2 {
    font-size: 2rem;
  }
}

/*=============== BEST-SELLER ===============*/
.best-seller {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.best-seller_wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.left_box {
  background-color: #f79410;
  padding-top: 2.8rem;
  padding-bottom: 2rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.best-seller_image {
  height: 100%;
  width: 100%;
}

.best-seller_image img {
  width: 95%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.right_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.right_box h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0px;
  text-align: left;
}

.right_box p {
  font-weight: 300;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .best-seller {
    padding-top: 6rem;
    padding-bottom: 6rem;

  }

  .best-seller_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .left_box {
    background-color: #f79410;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    
  }

  .best-seller_image {
    height: 100%;
    width: 100%;
  }
  
  .best-seller_image img {
    width: 100%;
    border-radius: 8px;
  }

  .right_box h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 2rem;
  }
  
  .right_box p {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
  }

  .best-seller_btn {
    align-self: center;

  }

  .right_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  
}


/*=======FOOTER========*/

.footer{
	background-color: #24262b;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links ul{
  display: flex;
  gap: .7rem;
}

.footer-col h4 {
	font-size: 1rem;
	color: #f4f4f4;
	text-transform: capitalize;
	margin-bottom: 2rem;
	font-weight: 500;
	position: relative;
}


.footer-logo {
	font-size: 1.25rem;
	color: #f4f4f4;
	text-transform: capitalize;
	font-weight: 500;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-top: -1.3rem;
  
}

.footer-logo a {
  color: #f4f4f4;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.footer-col ul li a{
	font-size: 1rem;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #f4f4f4;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #f4f4f4;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #76BA99;
}

.footer-base {
  display: flex;
  justify-content: start;
  color: #f4f4f4;
  margin-top: 2rem;
}

/*===== Responsive For FOOTER ======*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: #f79410;
  box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
  display: inline-flex;
  padding: .25rem;
  z-index: 10;
  opacity: .8;
  transition: .4s;
}

.scrollup:hover {
  opacity: 1;
}

.scrollup__icon {
  font-size: 1.5rem;
  color: hsl(60, 3%, 6%);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}


